<h1>{{ title | execute }}</h1>
<!-- Statrt -->
<input [(ngModel)]="name" placeholder="name" />
<!-- equivalent -->
<input (input)="handleChange($event)" [value]="name" placeholder="name" />
<!-- End -->
<button (click)="addItem()">Add</button>

<ol>
  <li *ngFor="let item of items; trackBy: trackedBy">
    {{ item }}
  </li>
</ol>

<app-item-component />

FormGroup
<!-- 4 types bindins -->

<!-- 1. Interpolation -->
{{ title }}
<!-- 2. Attribute / Property binding -->
<input [id]="1" />
<input placeholder="test" [value]="name" disabled />
<!-- 3. Event binding -->
<button (click)="addItem()">Add</button>
<!-- 4. Two-way binding -->
<input [(ngModel)]="name" placeholder="name" />

<!-- template reference -->
<app-item-component #itemComponent></app-item-component>
<input #nameInput placeholder="name" [placeholder]="'template ref'" />
<button (click)="name = nameInput.value">Set Name</button>
