<h1>Binding</h1>

<h3>{{ title | execute }}</h3>
<!-- Statrt -->
<input [(ngModel)]="name" placeholder="name" />
<!-- equivalent -->
<input (input)="handleChange($event)" [value]="name" placeholder="name" />
<!-- End -->
<!-- <button (click)="addItem()">Add</button> -->

<app-item-component />

FormGroup
<!-- 4 types bindins -->

<!-- 1. Interpolation :: {{ }} -->
{{ title }}
<div>
  <strong>test interpolation: </strong>
  <span>{{ title }}</span>
</div>
<!-- 2. Attribute / Property binding :: [ ]-->
<input [placeholder]="title" [id]="1" />
<input [value]="name" />
<!-- 3. Event binding :: () -->
<button (click)="alert()">alert</button>
<!-- 4. Two-way binding :: [( )] -->
<input [(ngModel)]="name" /> {{ name }}
<!-- equivalent -->
<!-- <input
  [value]="name"
  (input)="name = $any($event.target)?.value || ''"
  placeholder="name"
/> -->

<!-- template reference -->
<h1>Template Ref</h1>
<app-item-component item="abc" #itemComponent></app-item-component>
<input #nameInput placeholder="name" [placeholder]="'template ref'" />
<!-- nameInput point <input #nameInput placeholder="name" [placeholder]="'template ref'" /> -->
<button (click)="alertName()">Set Name</button>

<form #f="ngForm">
  <input name="firstName" ngModel placeholder="name" />
  <input name="lastName" ngModel placeholder="lastName" />
  <input name="email" ngModel placeholder="email" />
  <input name="password" ngModel placeholder="password" />
  <button (click)="submitForm(f.value)">submit</button>
</form>

<div>
  <strong>itemComponentRef: </strong>
  {{ itemComponent.title }}
</div>

<h1>Directives</h1>
<div>
  <!-- ngIf -->
  <div *ngIf="showDiv">Test</div>

  <!-- ngIf equivalent -->
  <!-- <ng-template [ngIf]="showDiv">
    <div>Test</div>
  </ng-template> -->

  <button (click)="showDiv = !showDiv">Toggle</button>
</div>

<!-- directives types (structural, attribute) -->

<div appHover height="400px" width="300px"></div>
<h1>Custom TwoWayBinding</h1>

<input [appCustomNgModel]="custom" (appCustomNgModelChange)="custom = $event" />
<br />
<!-- equivalent -->
<input [(appCustomNgModel)]="custom" />

{{ custom }}

<h1>Form Group</h1>

<form [formGroup]="form">
  <input formControlName="name" placeholder="name" />
  <span
    style="color: red"
    *ngIf="
      form.controls['name'].hasError('required') &&
      form.controls['name'].touched
    "
    >name required</span
  >
  <input formControlName="age" type="number" placeholder="age" />
  <span
    style="color: red"
    *ngIf="
      form.controls['age'].hasError('required') && form.controls['name'].touched
    "
    >age required</span
  >
  <!-- <span
    style="color: red"
    *ngIf="
      form.controls['age'].hasError('required') && form.controls['name'].touched; else minLenth
    "
    >age required</span
  > -->
  <!-- <ng-template #minLenth>
    <span
      style="color: red"
      *ngIf="
        form.controls['age'].hasError('minLength') &&
        form.controls['name'].touched
      "
      >age min length 2</span
    >
  </ng-template> -->
  <button (click)="submit()">submit</button>
</form>

<h1>Service Provider</h1>

<span style="color: red">{{ service.name }}</span>

<h1>NGFOR</h1>

<ol>
  <li *ngFor="let student of students">{{ student.name }} {{ student.age }}</li>
</ol>

<h1>Router</h1>

<a [routerLink]="['details', 1]">details id: 1</a>
<a [routerLink]="['details', 2]">details id: 2</a>
<a [routerLink]="['details', 3]">details id: 3</a>
<button (click)="navigate()">details</button>

<router-outlet></router-outlet>

<h1>HTTP</h1>

<ul>
  <li
    *ngFor="let todo of todos"
    [ngClass]="todo.completed ? 'completed' : 'not-completed'"
  >
    {{ todo.id }} : {{ todo.title }}
  </li>
</ul>
